.profile__profile-info {
  display: grid;
  row-gap: 16px;
  height: 73px;
  column-gap: 18px;
  align-self: center;
  justify-self: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 680px) {
  .profile__profile-info {
    justify-self: center;
    margin-bottom: 13.5px;
  }
}
