.element__like-button {
  background-image: url(../../../images/no-like.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  background-color: #FFFFFF;
  width: 22px;
  height: 19px;
  align-self: flex-end;
}

.element__like-button:hover {
  background-image: url(../../../images/hover-like.png);
}

